@import "variables.less";


//FONTS
@font-face {
  font-family: 'IstokBold';
  src: url('istokweb-bold.eot');
  src: url('istokweb-bold.eot?#iefix') format('embedded-opentype'),
       url('istokweb-bold.woff2') format('woff2'),
       url('istokweb-bold.woff') format('woff'),
       url('istokweb-bold.ttf')  format('truetype'),
       url('istokweb-bold.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'IstokRegular';
  src: url('istokweb-regular.eot');
  src: url('istokweb-regular.eot?#iefix') format('embedded-opentype'),
       url('istokweb-regular.woff2') format('woff2'),
       url('istokweb-regular.woff') format('woff'),
       url('istokweb-regular.ttf')  format('truetype'),
       url('istokweb-regular.svg#svgFontName') format('svg');
}


//COMMON STYLES

.container-fluid {
	max-width: 1830px;

}

body {
	font-family: IstokBold, Arial, sans-serif;
}

* {
	outline: none!important;
}

h1 {
	color: @color-header;
	font-weight: bold;
}

p {
	color: @color-p;
	font-family: IstokRegular, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

// NAVBAR TOP

div.navbar {
	padding: 0 15px 0 15px;
	border: 0;
	background-color: transparent;
}

nav.navbar {
	border: 0;
	border-radius: 0;
	position: static;
	margin: 0 auto;
	height: 75px;
	max-width: 1800px;
	background-color: @bcg-navbar;
	
	.container {
		padding-left: 0;
		padding-right: 0;
	}
	
	h1 {
		float: left;
		margin: 0;
		background: url("../img/Forme2.png") 75px 0px no-repeat;
		
		span {
			margin: 4px;
		}
	}

	a.navbar-brand {
		color: @color-header-inverse;
		font-size: 43px;
		line-height: 40px;
		font-weight: 100;
		
		&:hover,
		&:focus,
		&:active {
			color: @color-header-inverse;
		}
	}

	.navbar-nav:first-child{
		margin-left: 75px;
	}

	ul.navbar-nav {
		li a {
			color: @color-header-inverse;
			font-size: 14px;
			height: 75px;
			line-height: 40px;
			font-weight: bold;
			text-transform: uppercase;
		}

		li.active a,
		li.active a:hover,
		a:hover,
		a:focus,
		a:active {
			background-color: transparent;
			color: @color-header-inverse;
			border-bottom: 3px solid;
			}
	}
}

// SLIDER

.slider-header {
	.carousel-indicators {
		li {
			height: 18px;
			width: 18px;
			border: 2px solid @color-header-inverse;
			margin-bottom: -20px;
			margin-right: 8px;
		}
	}
}

